{{define "uploaded"}}
<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>{{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <div class="uploaded">
        CSV has been uploaded
    </div>
</body>
</html>
{{end}}
